# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ============================================================
# VIRTUAL ENVIRONMENTS
# ============================================================

venv/
.venv/

# ============================================================
# ENVIRONMENT VARIABLES
# ============================================================

.env

# ============================================================
# LOGS
# ============================================================

logs/
*.log

# ============================================================
# DATABASES
# ============================================================

*.db
*.sqlite3

# ============================================================
# IDE
# ============================================================

.idea/
.vscode/

# ============================================================
# OPERATING SYSTEM
# ============================================================

.DS_Store
Thumbs.db