body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111827;
    color: white;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.3rem;
    opacity: 0.8;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;

    cursor: pointer;

    background: #2563eb;
    color: white;

    margin-top: 20px;
}

.chat-container {
    position: fixed;

    bottom: 20px;
    right: 20px;

    width: 350px;
    height: 500px;

    background: #1f2937;

    border-radius: 12px;

    display: none;
    flex-direction: column;

    overflow: hidden;

    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.chat-header {
    padding: 15px;
    background: #2563eb;
    font-weight: bold;
}

.chat-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.bot-message,
.user-message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
}

.bot-message {
    background: #374151;
}

.user-message {
    background: #2563eb;
    text-align: right;
}

.chat-input-area {
    display: flex;
    padding: 10px;
    background: #111827;
}

.chat-input-area input {
    flex: 1;

    padding: 10px;

    border: none;
    border-radius: 6px;

    outline: none;
}

.chat-input-area button {
    margin-left: 10px;
}